@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 16px;
    @apply min-h-screen bg-gray-50 dark:bg-gray-900 text transition-colors duration-500 leading-loose;
  }

  h1 {
    @apply text-5xl md:text-7xl;
  }
  h3 {
    @apply text-xl;
  }

  button:focus:not(:focus-visible) {
    @apply outline-none;
  }
}

@layer components {
  .text {
    @apply text-black dark:text-green-50;
  }

  .wrapper {
    @apply w-full flex-center px-4 md:px-8;
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
